<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.BoardMapper">
  
  	<select id="selectBoardList" resultType="com.spring.domain.BoardDTO">
  		<![CDATA[
  		SELECT*FROM(SELECT ROWNUM as rn,
  		 b_no, title, content, reg_date, up_date, 
  		 (SELECT id FROM member WHERE m_no=board.m_no)as id from board board
  		 WHERE ROWNUM <=(2*10)
  		 )
  		 WHERE rn>((2-1)*10)
  		 ]]>
  	</select>
  	<select id="selectAllBoardByPage" resultType="com.spring.domain.BoardDTO">
  		<![CDATA[
  		SELECT*FROM(SELECT ROWNUM as rn,
  		 b_no, title, content, reg_date, up_date, 
  		 (SELECT id FROM member WHERE m_no=board.m_no)as id from board board
  		 WHERE ROWNUM <=(#{cri.pageNum}*#{cri.amount})
  		 )
  		 WHERE rn>((#{cri.pageNum}-1)*#{cri.amount})
  		 ]]>
  	</select>
 </mapper>
  