<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.Emp2Mapper">
  <select id="selectEmp2" resultType="com.spring.domain.Emp2DTO">
  		SELECT * FROM emp2 
  	</select>
  	<update id="updateEmp2">
  	update emp2 set name=#{name,jdbcType=VARCHAR},
  					deptno=#{deptno, jdbcType=VARCHAR}
  	where empno=#{empno}	
  	</update>
  	
  	<delete id="deleteEmp2">
  	delete emp2 where empno=#{empno}
  	</delete>
  	
  	<insert id="insertEmp2">
  	insert into emp2(empno, name, birthday, deptno, emp_type, tel, hobby, pay, position, pempno)
  	values(#{empno}, #{name,jdbcType=VARCHAR}, sysdate, #{deptno,jdbcType=VARCHAR}, #{emp_type,jdbcType=VARCHAR}
  	, #{tel,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, #{pay}, #{position,jdbcType=VARCHAR}, #{pempno} )
  	</insert>
  	
 </mapper>