<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.EmpMapper">
  <select id="selectEmp" resultType="com.spring.domain.EmpDTO">
  		SELECT * FROM emp 
  	</select>
  	<update id="updateEmp">
  	update emp set ename=#{ename,jdbcType=VARCHAR}
  	where empno=#{empno}	
  	</update>
  	
  	<delete id="deleteEmp">
  	delete emp where empno=#{empno}
  	</delete>
  	
  	<insert id="insertEmp">
  	insert into emp(empno, ename, job, mgr,hiredate, sal, comm, deptno)
  	values(#{empno}, #{ename,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{mgr},sysdate,#{sal},#{comm},#{deptno} )
  	</insert>
  	
 </mapper>
  